
/* GENERAL */

html {
    height: 100%;
    margin: 0;
}

body {
   
    width: 100%;
    height: 100%;
    margin: 0;

    background: darkgrey;
    background: -webkit-radial-gradient( center, circle, darkgrey, black);
    background:    -moz-radial-gradient( center, circle, darkgrey, black);
    background:     -ms-radial-gradient( center, circle, darkgrey, black);
    background:      -o-radial-gradient( center, circle, darkgrey, black);
    background:         radial-gradient( circle at center, darkgrey, black);
}

/* GAME */

#container{
    width: 100%;
    height: 100%;
    position: relative;
    margin: auto;
    z-index: 3;
    background-color: black;

    -moz-box-shadow: 0px 0px 10px 5px #FFFFFF;
    -webkit-box-shadow: 0px 0px 10px 5px #FFFFFF;
    -o-box-shadow: 0px 0px 10px 5px #FFFFFF;
    box-shadow: 0px 0px 10px 5px #FFFFFF;
    filter:progid:DXImageTransform.Microsoft.Shadow(color=#FFFFFF, Direction=NaN, Strength=10);
}

#section_canvas .kineticjs-content, #section_canvas .kineticjs-content canvas {
    width: 100% !important;
    height: 100% !important;
}

#loading_window {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    background-color: black;
    text-align:center;
}

#pourcentage {
    margin: auto;
    padding-top: 200px;
    color: white;
    font-size: 20px;
}

#section_canvas {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
}
